@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

@import '@skeletonlabs/skeleton';

@import '@skeletonlabs/skeleton/optional/presets';
@import '@skeletonlabs/skeleton/themes/cerberus';
@import '@skeletonlabs/skeleton/themes/crimson';
@import "./dracula.css";

@import './flows.css';
@import './api.css' layer(base);

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

body {
    height: 100vh;
}

.codemirror-wrapper {
    overflow: auto;
}
.codemirror-wrapper .cm-editor {
    height: 100%;
}

@utility input-field {
    @apply input px-2! py-0.5! border-transparent whitespace-nowrap;

    &:not(:focus) {
        box-shadow: none !important;
    }
}
