:root {
    --flow-control-padding: 1em;
    --flow-control-button-size: 2em;
}

.svelte-flow {
    --xy-background-color: rgb(var(--color-surface-50));
    --xy-controls-button-background: rgb(var(--color-surface-100));
    --xy-controls-button-background-color-hover: rgb(var(--color-surface-200));
    --xy-minimap-background-color: rgb(var(--color-surface-50));
    --xy-minimap-mask-background-color: rgb(var(--color-surface-500) / 0.5);
    --xy-minimap-node-background-color: rgb(var(--color-surface-100));
    --xy-handle-background-color: rgb(var(--color-surface-100));
    --xy-controls-box-shadow: 0 0 2px 1px rgb(var(--color-surface-900) / 0.28);
}

.dark .svelte-flow {
    --xy-background-color: rgb(var(--color-surface-950));
    --xy-controls-button-background: rgb(var(--color-surface-900));
    --xy-controls-button-background-color-hover: rgb(var(--color-surface-800));
    --xy-minimap-background-color: rgb(var(--color-surface-950));
    --xy-minimap-mask-background-color: rgb(var(--color-surface-900) / 0.5);
    --xy-minimap-node-background-color: rgb(var(--color-surface-800));
    --xy-handle-background-color: rgb(var(--color-surface-800));
    --xy-controls-box-shadow: 0 0 15px 5px rgb(var(--color-surface-950) / 0.88);
}

/* repeated selectors to increase priority */

.svelte-flow__controls-button.svelte-flow__controls-button {
    @apply preset-filled-surface-100-900 rounded-none;
}

.svelte-flow__handle.svelte-flow__handle {
    width: 12px;
    height: 12px;
}

.svelte-flow__controls-button.svelte-flow__controls-button {
    width: var(--flow-control-button-size);
    height: var(--flow-control-button-size);
}

.svelte-flow__controls-button.svelte-flow__controls-button svg {
    max-width: 16px;
    max-height: 16px;
}

div.svelte-flow__panel {
    margin: var(--flow-control-padding);
}

.svelte-flow__controls-horizontal .svelte-flow__controls-button {
    border-right: 1px solid
        var(--xy-controls-button-border-color-props,
            var(--xy-controls-button-border-color,
                var(--xy-controls-button-border-color-default)
            )
        );
    border-bottom: none;
}

.svelte-flow__controls-horizontal .svelte-flow__controls-button:last-of-type {
    border-right: none;
}

/* Fix selection in nodes */
.svelte-flow__node {
    user-select: unset !important;
    -moz-user-select: unset !important;
    -moz-user-select: unset !important;
}

.svelte-flow__resize-control.handle {
    background: none !important;
    border: none !important;
}
