:root {
    --flow-control-padding: 1em;
    --flow-control-button-size: 2em;
}

.svelte-flow__handle.svelte-flow__handle {
    width: 12px;
    height: 12px;
}

button.svelte-flow__controls-button {
    width: var(--flow-control-button-size);
    height: var(--flow-control-button-size);
}

button.svelte-flow__controls-button svg {
    max-width: 16px;
    max-height: 16px;
}

div.svelte-flow__panel {
    margin: var(--flow-control-padding);
}

.svelte-flow__controls.svelte-flow__controls-horizontal {
    flex-direction: row;
    align-items: center;
}

.svelte-flow__controls-horizontal .svelte-flow__controls-button {
    border-right: 1px solid
        var(--xy-controls-button-border-color-props,
            var(--xy-controls-button-border-color,
                var(--xy-controls-button-border-color-default)
            )
        );
    border-bottom: none;
}

.svelte-flow__controls-horizontal .svelte-flow__controls-button:last-of-type {
    border-right: none;
}

/* Fix selection in nodes */
.svelte-flow__node {
    user-select: unset !important;
    -moz-user-select: unset !important;
    -moz-user-select: unset !important;
}

.svelte-flow__resize-control.handle {
    background: none !important;
    border: none !important;
}
